
.click {
    cursor: pointer;
}

.prova-img {
    width: 100%;
}

.box-footer {
    padding-top: 0;
}

.box-footer .btn {
    margin-top: 10px;
}

/* ============================
    Background color Fix
   ============================ */
.main-footer {
    background: #ecf0f5;
    border-top: none;
}

/* ============================
    Label de notificações
   ============================ */
#label-top {
    background-color: #222d32 !important;
}

/* ============================
    Ícone v do menu lateral
   ============================ */
.sidebar-menu li > a > .fa-angle-down, .sidebar-menu li > a > .pull-right-container > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}

/* ============================
    Ícones da página inicial
   ============================ */
.small-box .icon {
    top: 0;
    right: 15px;
    font-size: 70px;
}

.small-box:hover .icon {
    font-size: 78px;
}

/* ============================
    Box
   ============================ */
@media screen and (max-width: 1100px) {
    .box {
        overflow-x: auto; /* Habilita scroll quando necessário */
    }
}

/* ============================
    Botões do box
   ============================ */
.box-footer button.pull-right {
    margin-left: 10px;
}


/* ============================
    Paginação
   ============================ */
/*.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {*/
    /*background-color: #222d32;*/
    /*border-color: #222d32;*/
/*}*/

