/* ============================
    Label de notificações
   ============================ */
#label-top {
    background-color: #222d32 !important;
}

/* ============================
    Ícone v do menu lateral
   ============================ */
.sidebar-menu li > a > .fa-angle-down, .sidebar-menu li > a > .pull-right-container > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}

/* ============================
    Ícones da página inicial
   ============================ */
.small-box .icon {
    top: 0;
    right: 15px;
    font-size: 70px;
}

.small-box:hover .icon {
    font-size: 78px;
}