.modal-title i {
    margin-left: 5px;
}

.click {
    cursor: pointer;
}

.prova-img {
    width: 100%;
}

.box-footer {
    padding-top: 0;
}

.box-footer .btn {
    margin-top: 10px;
}

/* ============================
    Background color Fix
   ============================ */
body, .main-footer {
    background: #ecf0f5;
    border-top: none;
}

/* ============================
    Label de notificações
   ============================ */
#label-top {
    background-color: #222d32 !important;
}

/* ============================
    Ícone v do menu lateral
   ============================ */
.sidebar-menu li > a > .fa-angle-down,
.sidebar-menu li > a > .pull-right-container > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}

/* ============================
    Ícones da página inicial
   ============================ */
.small-box .icon {
    top: 0;
    right: 15px;
    font-size: 70px;
}

.small-box:hover .icon {
    font-size: 78px;
}

/* ============================
    Box
   ============================ */
@media screen and (max-width: 1100px) {
    .box {
        overflow-x: auto; /* Habilita scroll quando necessário */
    }
}

/* ============================
    Botões do box
   ============================ */
.box-footer button.pull-right {
    margin-left: 10px;
}

.modal-footer a button {
    margin-right: 5px;
}

/* ============================
    Paginação
   ============================ */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}

/* ============================
    Menu tree Fix
   ============================ */
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        width: 215px;
    }

    .sidebar-collapse .sidebar-menu li > a.pai > .pull-right-container > .fa-angle-down {
        display: none;
    }

    .sidebar-collapse .sidebar-menu > li .label {
        position: absolute;
        right: -30px;
    }
}

/* ============================
    Página 404
   ============================ */
.error-page > .error-content {
    padding-top: 20px;
}

/* ============================
    Animações
   ============================ */
.content, .content-header {
    -webkit-animation: fadeInRight .8s both;
    -moz-animation: fadeInRight .8s both;
    animation: fadeInRight .8s both;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

