<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Questões
        <small>Todas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/questoes">Questões</a></li>
        <li class="active">Todas</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="btn-two-container">
                <a ui-sref="template.criarQuestaoObjetiva" class="btn btn-primary btn-two margin-bottom">Criar Objetiva</a>
                <a ui-sref="template.criarQuestaoSubjetiva" class="btn btn-primary btn-two margin-bottom">Criar Subjetiva</a>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Estado</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ui-sref-active="active"><a ui-sref="template.listarQuestoes"><i class="fa fa-circle-o text-blue"></i> Todas
                            <span class="label label-primary pull-right">{{ quantidade.todos }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.questoesAguardando"><i class="fa fa-circle-o text-yellow"></i> Aguardando Aprovação
                            <span class="label label-warning pull-right">{{ quantidade.aguardando }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.questoesAceitas"><i class="fa fa-circle-o text-green"></i> Aprovadas
                            <span class="label label-success pull-right">{{ quantidade.aprovados }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.questoesRecusadas"><i class="fa fa-circle-o text-red"></i> Recusadas
                            <span class="label label-danger pull-right">{{ quantidade.recusados }}</span></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtrar</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todos</option>
                            <option>Subjetiva</option>
                            <option>Objetiva</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Disciplina</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Dificuldade</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                            <option>Baixa</option>
                            <option>Média</option>
                            <option>Alta</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Autor</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todos</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- Tabela -->
        <div class="col-md-9">
            <div class="box box-solid">
                <div class="box-body">

                    <table class="table table-data table-bordered table-striped" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnsDefs">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Tipo</th>
                            <th>Dificuldade</th>
                            <th>Disciplina</th>
                            <th>Autor</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="questao in questoes">
                            <td><a ui-sref="template.visualizarQuestao({ id: questao.id })">{{ questao.titulo }}</a></td>
                            <td class="text-capitalize">{{ questao.tipo }}</td>
                            <td class="text-capitalize">{{ questao.dificuldade }}</td>
                            <td>{{ questao.disciplina.nome }}</td>
                            <td>{{ questao.autor.nome }}</td>
                            <td>{{ questao.estado.nome }}</td>
                            <td>
                                <button ng-click="visualizarQuestao(questao)" class="btn btn-sm btn-default btn-block" data-toggle="modal" data-target="#visualizar"><i class="fa fa-eye"></i> Visualizar</button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Título</th>
                            <th>Tipo</th>
                            <th>Dificuldade</th>
                            <th>Disciplina</th>
                            <th>Autor</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<!-- MODAL: Visualizar -->
<div class="modal fade" id="visualizar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ questaoAtual.titulo }}
                    <small><a ui-sref="template.visualizarQuestao({ id: questaoAtual.id })" target="_blank" title="Ir para página completa"><i class="fa fa-external-link" aria-hidden="true"></i></a></small>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width: 10%">Tipo:</th>
                        <td>{{ questaoAtual.tipo }}</td>
                    </tr>
                    <tr>
                        <th>Dificuldade:</th>
                        <td>{{ questaoAtual.dificuldade }}</td>
                    </tr>
                    <tr>
                        <th>Disciplina:</th>
                        <td>{{ questaoAtual.disciplina.nome }}</td>
                    </tr>
                    <tr>
                        <th>Autor:</th>
                        <td>{{ questaoAtual.autor.nome }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h4>Enunciado:</h4>
                <span ng-bind-html="questaoAtual.enunciado"></span>

                <div ng-if="questaoAtual.tipo === 'Objetiva'">
                    <strong>A)</strong> <span ng-bind-html="questaoAtual.alternativa_a"></span> <br>
                    <strong>B)</strong> <span ng-bind-html="questaoAtual.alternativa_b"></span> <br>
                    <strong>C)</strong> <span ng-bind-html="questaoAtual.alternativa_c"></span> <br>
                    <strong>D)</strong> <span ng-bind-html="questaoAtual.alternativa_d"></span> <br>
                    <strong>E)</strong> <span ng-bind-html="questaoAtual.alternativa_e"></span> <br>
                </div>

                <hr>
                <h4>Resposta:</h4>
                {{ questaoAtual.resposta }}
                <br><br>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-show="#confirmacao" trocar-modal><i class="fa fa-trash"></i> Excluir</a>
                <a ng-click="info('Não suportado ainda')" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-pencil"></i> Editar</a>
                <a ng-click="recusar(questaoAtual)" type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Recusar</a>
                <a ng-click="aprovar(questaoAtual)" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Aprovar</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Confirmação -->
<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Questão</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir a questão "{{ questaoAtual.titulo }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-click="excluir(questaoAtual)" type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->