<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Questões
        <small>Visualizar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/questoes">Questões</a></li>
        <li class="active">Visualizar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10%">Título:</th>
                            <td>{{ questao.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Tipo:</th>
                            <td>{{ questao.tipo }}</td>
                        </tr>
                        <tr>
                            <th>Dificuldade:</th>
                            <td>{{ questao.dificuldade }}</td>
                        </tr>
                        <tr>
                            <th>Disciplina:</th>
                            <td>{{ questao.disciplina.nome }}</td>
                        </tr>
                        <tr>
                            <th>Autor:</th>
                            <td>{{ questao.autor.nome }}</td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td>{{ questao.estado.nome }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" class="btn btn-danger" trocar-modal data-toggle="modal" data-target="#aviso"><i class="fa fa-trash"></i> Excluir</button>
                    <button ng-click="aprovar(questao)" type="button" class="btn btn-success pull-right" ><i class="fa fa-check"></i> Aprovar</button>
                    <button ng-click="recusar(questao)" type="button" class="btn btn-warning pull-right" ><i class="fa fa-times"></i> Recusar</button>

                    <a ng-if="questao.tipo === 'Subjetiva'" ui-sref="template.editarSubjetiva"><button type="button" class="btn btn-default pull-right" ><i class="fa fa-pencil"></i> Editar</button></a>
                    <a ng-if="questao.tipo === 'Objetiva'" ui-sref="template.editarObjetiva"><button type="button" class="btn btn-default pull-right" ><i class="fa fa-pencil"></i> Editar</button></a>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Enunciado</h3>
                </div>
                <div class="box-body">
                    <span ng-bind-html="questao.enunciado"></span>

                    <div ng-if="questao.tipo === 'Objetiva'">
                        <strong>A)</strong> <span ng-bind-html="questao.alternativa_a"></span> <br>
                        <strong>B)</strong> <span ng-bind-html="questao.alternativa_b"></span> <br>
                        <strong>C)</strong> <span ng-bind-html="questao.alternativa_c"></span> <br>
                        <strong>D)</strong> <span ng-bind-html="questao.alternativa_d"></span> <br>
                        <strong>E)</strong> <span ng-bind-html="questao.alternativa_e"></span> <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4"></div>

        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Resposta</h3>
                </div>
                <div class="box-body">
                    {{ questao.resposta }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL: Confirmação / Aviso -->
<div class="modal fade" id="aviso" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Questão</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir a questão "{{ questao.titulo }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-click="excluir(questao)" type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->