<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>IESB </b>Provas</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <form ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Matrícula" ng-model="matricula" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Senha" ng-model="senha" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <a href="http://aonline.iesb.br/aonline/LembraSenha.asp" target="_blank">Esqueceu a senha?</a><br>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <table class="table" style="background: white">
        <tr>
            <th>Papel</th>
            <th>Matrícula</th>
            <th>Senha</th>
        </tr>
        <tr>
            <td>Aluno</td>
            <td>1</td>
            <td>senha</td>
        </tr>
        <tr>
            <td>Professor</td>
            <td>2</td>
            <td>senha</td>
        </tr>
        <tr>
            <td>Coordenador</td>
            <td>3</td>
            <td>senha</td>
        </tr>
        <tr>
            <td>Secretária</td>
            <td>4</td>
            <td>senha</td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>0</td>
            <td>senha</td>
        </tr>
    </table>
</div>
<!-- /.login-box -->
</body>
