<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Provas
        <small>Todas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/provas">Provas</a></li>
        <li class="active">Todos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="btn-prova-container">
                <a href="/provas/criar" class="btn btn-primary btn-prova margin-bottom">Criar</a>
                <a href="/provas/digitalizar" class="btn btn-primary btn-prova margin-bottom">Digitalizar</a>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Estado</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ui-sref-active="active"><a ui-sref="template.listarProvas"><i class="fa fa-circle-o text-blue"></i> Todas
                            <span class="label label-primary pull-right">{{ quantidade.todos }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.provasAguardando"><i class="fa fa-circle-o text-yellow"></i> Aguardando Aprovação
                            <span class="label label-warning pull-right">{{ quantidade.aguardando }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.provasAceitas"><i class="fa fa-circle-o text-green"></i> Aprovadas
                            <span class="label label-success pull-right">{{ quantidade.aprovados }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.provasRecusadas"><i class="fa fa-circle-o text-red"></i> Recusadas
                            <span class="label label-danger pull-right">{{ quantidade.recusados }}</span></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtrar</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Disciplina</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Turma</label>
                        <select class="form-control" select2>
                            <option selected="selected">Turmas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Professor</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todos</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Prova</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- Tabela -->
        <div class="col-md-9">
            <div class="box box-solid">
                <div class="box-body">

                    <table class="table table-data table-bordered table-striped" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnsDefs">
                        <thead>
                        <tr>
                            <th>Prova</th>
                            <th>Disciplina</th>
                            <th>Turma</th>
                            <th>Professor</th>
                            <th>Data</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                            <th>Imprimir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="prova in ::provas">
                            <td ><a ui-sref="template.visualizarProva({ id: prova.id })">{{ prova.prova }}</a></td>
                            <td>{{ prova.disciplina.nome }}</td>
                            <td>{{ prova.turma.codigo }}</td>
                            <td>{{ prova.professor.nome }}</td>
                            <td>{{ prova.updated_at | data }}</td>
                            <td>{{ prova.estado.nome }}</td>
                            <td>
                                <button ng-click="provaVisualizar(prova)" class="btn btn-sm btn-default btn-block" data-toggle="modal" data-target="#visualizar-prova"><i class="fa fa-eye"></i> Visualizar</button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-default btn-block"><i class="fa fa-print"></i> Imprimir</button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Prova</th>
                            <th>Disciplina</th>
                            <th>Turma</th>
                            <th>Professor</th>
                            <th>Data</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                            <th>Imprimir</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<!-- MODAL: Visualizar Prova -->
<div class="modal fade" id="visualizar-prova" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ provaAtual.prova }} - {{ provaAtual.disciplina.nome }}
                    <small><a ui-sref="template.visualizarProva({ id: provaAtual.id })" target="_blank" title="Ir para página completa"><i class="fa fa-external-link" aria-hidden="true"></i></a></small>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Disciplina:</th>
                                <td>{{ provaAtual.disciplina.nome }}</td>
                            </tr>
                            <tr>
                                <th>Turma:</th>
                                <td>{{ provaAtual.turma.codigo }}</td>
                            </tr>
                            <tr>
                                <th>Professor:</th>
                                <td>{{ provaAtual.professor.nome }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Prova:</th>
                                <td>{{ provaAtual.prova }}</td>
                            </tr>
                            <tr>
                                <th>Data:</th>
                                <td>{{ provaAtual.updated_at | data }}</td>
                            </tr>
                            <tr>
                                <th>Estado:</th>
                                <td>{{ provaAtual.estado.nome }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default collapsed-box questao">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão 1</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Tipo:</th>
                                <td>Subjetiva</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>Alta</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>Segurança da Informação</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>Cícero</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                            A) Lorem ipsum dolor sit amet.<br>
                            B) Consectetur adipiscing elit.<br>
                            C) Sed consequat ligula est.<br>
                            D) Duis a libero quam.<br>
                            E) Donec hendrerit in turpis in mollis.<br>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <div class="modal-footer">
                <!--Somente coordenador ou se a prova for do professor-->
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-show="#confirmacao" trocar-modal><i class="fa fa-trash"></i> Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-pencil"></i> Editar</button>

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-print"></i> Imprimir</button>

                <!--Somente admin / coordenador-->
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Recusar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Aprovar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Confirmação -->
<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Prova</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir a prova "Título da prova aqui"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->