<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Provas
        <small>Visualizar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/provas">Provas</a></li>
        <li class="active">Visualizar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Informações -->
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10%">Disciplina:</th>
                            <td>{{ prova.disciplina.nome }}</td>
                        </tr>
                        <tr>
                            <th>Turma:</th>
                            <td>{{ prova.turma.codigo }}</td>
                        </tr>
                        <tr>
                            <th>Professor:</th>
                            <td>{{ prova.professor.nome }}</td>
                        </tr>
                        <tr>
                            <th>Prova:</th>
                            <td>{{ prova.prova }}</td>
                        </tr>
                        <tr>
                            <th>Data:</th>
                            <td>{{ prova.updated_at | data }}</td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td>{{ prova.estado.nome }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <!--Professor que fez a prova-->
                    <button ng-click="info('Não suportado ainda')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#aviso"><i class="fa fa-trash"></i> Excluir</button>
                    <!--Coordenador-->
                    <button ng-click="aprovar(prova)" type="button" class="btn btn-success pull-right"><i class="fa fa-check"></i> Aprovar</button>
                    <button ng-click="recusar(prova)" type="button" class="btn btn-danger pull-right"><i class="fa fa-times"></i> Recusar</button>
                    <!--Professor que fez a prova-->
                    <a ui-sref="template.editarProva({ id: prova.id })" type="button" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Editar</a>
                    <!--Todos-->
                    <button ng-click="info('Não suportado ainda')" type="button" class="btn btn-default pull-right"><i class="fa fa-print"></i> Imprimir</button>
                </div>
            </div>
            <!-- /. box -->
        </div>

        <!-- Questões -->
        <div class="col-md-8 masonry" masonry preserve-order load-images="false" masonry-options="{ gutter: 20 }">

            <!-- Questão -->
            <div style="width: 45%" class="masonry-brick" ng-repeat="(index, questao) in prova.questoes">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title click" data-widget="collapse">Questão {{ index + 1 }}</h3>
                        <!--<div class="box-tools pull-right">-->
                            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                        <!--</div>-->
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Título:</th>
                                <td>{{ questao.titulo }}</td>
                            </tr>
                            <tr>
                                <th>Tipo:</th>
                                <td>{{ questao.tipo }}</td>
                            </tr>
                            <tr>
                                <th>Dificuldade:</th>
                                <td>{{ questao.dificuldade }}</td>
                            </tr>
                            <tr>
                                <th>Disciplina:</th>
                                <td>{{ questao.disciplina.nome }}</td>
                            </tr>
                            <tr>
                                <th>Autor:</th>
                                <td>{{ questao.autor.nome }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <h4>Enunciado:</h4>
                        <span ng-bind-html="questao.enunciado"></span>

                        <div ng-if="questao.tipo === 'Objetiva'">
                            <strong>A)</strong> <span ng-bind-html="questao.alternativa_a"></span> <br>
                            <strong>B)</strong> <span ng-bind-html="questao.alternativa_b"></span> <br>
                            <strong>C)</strong> <span ng-bind-html="questao.alternativa_c"></span> <br>
                            <strong>D)</strong> <span ng-bind-html="questao.alternativa_d"></span> <br>
                            <strong>E)</strong> <span ng-bind-html="questao.alternativa_e"></span> <br>
                        </div>

                        <hr>
                        <h4>Resposta:</h4>
                        {{ questao.resposta }}
                        <br><br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- MODAL: Confirmação / Aviso -->
<div class="modal fade" id="aviso" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Questão</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir a questão "Título da questão aqui"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-click="info('Não suportado ainda')" type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->