<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Recursos
        <small>Criar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/recursos">Recursos</a></li>
        <li class="active">Criar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title click" data-widget="collapse">Informações</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input ng-model="recurso.titulo" type="text" class="form-control" id="titulo" placeholder="Título">
                    </div>
                    <div class="form-group">
                        <label for="questao">Questão</label>
                        <input ng-model="recurso.questao" type="number" class="form-control" id="questao" placeholder="Questão">
                    </div>
                    <div class="form-group">
                        <label for="disciplina">Disciplina</label>
                        <select select2 ng-options="disciplina.nome for disciplina in disciplinas" ng-model="recurso.disciplina" id="disciplina" class="form-control">
                            <option value="">Selecione uma Disciplina</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="turma">Turma</label>
                        <select select2 ng-options="turma.codigo for turma in turmas" ng-model="recurso.turma" id="turma" class="form-control">
                            <option value="">Selecione uma Turma</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prova">Prova</label>
                        <select ng-model="recurso.prova" id="prova" class="form-control">
                            <option value="" disabled>Selecione uma Prova</option>
                            <option value="P1">P1</option>
                            <option value="P2">P2</option>
                            <option value="P3">P3</option>
                        </select>
                    </div>
                </div>
                <div class="box-footer">
                    <button ng-click="salvar(recurso)" class="btn btn-primary pull-right">Salvar</button>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title click" data-widget="collapse">Mensagem</h3>
                </div>
                <div class="box-body">
                    <textarea ng-model="recurso.descricao" rows="20" cols="70" editor="grande"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>