<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Recursos
        <small>Todos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/recursos">Recursos</a></li>
        <li class="active">Todos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <a href="/recursos/criar" class="btn btn-primary btn-block margin-bottom">Criar</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Estado</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ui-sref-active="active"><a ui-sref="template.listarRecursos"><i class="fa fa-circle-o text-blue"></i> Todos
                            <span class="label label-primary pull-right">{{ quantidade.todos }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.recursosAguardando"><i class="fa fa-circle-o text-yellow"></i> Aguardando Aprovação
                            <span class="label label-warning pull-right">{{ quantidade.aguardando }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.recursosAceitos"><i class="fa fa-circle-o text-green"></i> Aprovados
                            <span class="label label-success pull-right">{{ quantidade.aprovados }}</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="template.recursosRecusados"><i class="fa fa-circle-o text-red"></i> Recusados
                            <span class="label label-danger pull-right">{{ quantidade.recusados }}</span></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtrar</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Disciplina</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Turma</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Prova</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Questão</label>
                        <select class="form-control" select2>
                            <option selected="selected">Todas</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-9">
            <div class="box box-solid">
                <div class="box-body">

                    <table class="table table-data table-bordered table-striped" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnsDefs">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Aluno</th>
                            <th>Disciplina</th>
                            <th>Prova</th>
                            <th>Turma</th>
                            <th>Questão</th>
                            <th>Data</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="recurso in recursos">
                            <td><a ui-sref="template.visualizarRecurso({ id: recurso.id })">{{ recurso.titulo }}</a></td>
                            <td>{{ recurso.aluno.nome }}</td>
                            <td>{{ recurso.disciplina.nome }}</td>
                            <td>{{ recurso.prova.prova }}</td>
                            <td>{{ recurso.turma.codigo }}</td>
                            <td>{{ recurso.questao }}</td>
                            <td>{{ recurso.created_at | data }}</td>
                            <td>{{ recurso.estado.nome }}</td>
                            <td><button ng-click="visualizarRecurso(recurso)" class="btn btn-sm btn-default btn-block" data-toggle="modal" data-target="#visualizar-recurso"><i class="fa fa-eye"></i>  Visualizar</button></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Título</th>
                            <th>Aluno</th>
                            <th>Disciplina</th>
                            <th>Prova</th>
                            <th>Turma</th>
                            <th>Questão</th>
                            <th>Data</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<!-- MODAL: Visualizar Prova -->
<div class="modal fade" id="visualizar-questao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ questaoAtual.titulo }}
                    <small><a href="questoes/id" target="_blank" title="Ir para página completa"><i class="fa fa-external-link" aria-hidden="true"></i></a></small>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width: 10%">Tipo:</th>
                        <td>{{ questaoAtual.tipo }}</td>
                    </tr>
                    <tr>
                        <th>Dificuldade:</th>
                        <td>{{ questaoAtual.dificuldade }}</td>
                    </tr>
                    <tr>
                        <th>Disciplina:</th>
                        <td>{{ questaoAtual.disciplina.nome }}</td>
                    </tr>
                    <tr>
                        <th>Autor:</th>
                        <td>{{ questaoAtual.autor.nome }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h4>Enunciado:</h4>
                <span ng-bind-html="questaoAtual.enunciado"></span>

                <div ng-if="questaoAtual.tipo === 'Objetiva'">
                    <strong>A)</strong> <span ng-bind-html="questaoAtual.alternativa_a"></span> <br>
                    <strong>B)</strong> <span ng-bind-html="questaoAtual.alternativa_b"></span> <br>
                    <strong>C)</strong> <span ng-bind-html="questaoAtual.alternativa_c"></span> <br>
                    <strong>D)</strong> <span ng-bind-html="questaoAtual.alternativa_d"></span> <br>
                    <strong>E)</strong> <span ng-bind-html="questaoAtual.alternativa_e"></span> <br>
                </div>

                <hr>
                <h4>Resposta:</h4>
                {{ questaoAtual.resposta }}
                <br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" trocar-modal data-dismiss="modal" data-show="#visualizar-recurso">Voltar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Visualizar Recurso -->
<div class="modal fade" id="visualizar-recurso" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ recursoAtual.titulo }}
                    <small><a ui-sref="template.visualizarRecurso({ id: recursoAtual.id })" target="_blank" title="Ir para página completa"><i class="fa fa-external-link" aria-hidden="true"></i></a></small>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width: 10%">Aluno:</th>
                        <td>{{ recursoAtual.aluno.nome }}</td>
                    </tr>
                    <tr>
                        <th>Turma:</th>
                        <td>{{ recursoAtual.turma.codigo }}</td>
                    </tr>
                    <tr>
                        <th>Disciplina:</th>
                        <td>{{ recursoAtual.disciplina.nome }}</td>
                    </tr>
                    <tr>
                        <th>Prova:</th>
                        <td>{{ recursoAtual.prova.prova }}</td>
                    </tr>
                    <tr>
                        <th>Questão:</th>
                        <td>{{ recursoAtual.questao }}</td>
                    </tr>
                    <tr>
                        <th>Data:</th>
                        <td>{{ recursoAtual.created_at | data }}</td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td>{{ recursoAtual.estado.nome }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <span ng-bind-html="recursoAtual.descricao"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" trocar-modal data-dismiss="modal" data-show="#visualizar-questao"><i class="fa fa-eye"></i> Visualizar Questão</button>

                <!--Somente admin / coordenador-->
                <button type="button" class="btn btn-danger pull-left" trocar-modal data-dismiss="modal" data-show="#confirmacao"><i class="fa fa-trash"></i> Excluir</button>

                <!--Somente professor-->
                <button ng-click="recusar(recursoAtual)" type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Recusar</button>
                <button ng-click="aprovar(recursoAtual)" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Aprovar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Confirmação -->
<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Recurso</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir o recurso "{{ recursoAtual.titulo }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-click="excluir(recursoAtual)" type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
