<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Recursos
        <small>Visualizar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">Provas IESB</a></li>
        <li><a href="/recursos">Recursos</a></li>
        <li class="active">Visualizar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10%">Titulo:</th>
                            <td>{{ recurso.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Aluno:</th>
                            <td>{{ recurso.aluno.nome }}</td>
                        </tr>
                        <!--<tr>-->
                            <!--<th>Turma:</th>-->
                            <!--<td>ADS123456</td>-->
                        <!--</tr>-->
                        <tr>
                            <th>Disciplina:</th>
                            <td>{{ recurso.disciplina.nome }}</td>
                        </tr>
                        <tr>
                            <th>Prova:</th>
                            <td>{{ recurso.prova }}</td>
                        </tr>
                        <tr>
                            <th>Questão:</th>
                            <td>{{ recurso.questao }}</td>
                        </tr>
                        <tr>
                            <th>Data:</th>
                            <td>{{ recurso.created_at | data }}</td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td>{{ recurso.estado.nome }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" class="btn btn-danger" trocar-modal data-toggle="modal" data-target="#aviso"><i class="fa fa-trash"></i> Excluir</button>
                    <button ng-click="aprovar(recurso)" type="button" class="btn btn-success pull-right" ><i class="fa fa-check"></i> Aprovar</button>
                    <button ng-click="recusar(recurso)" type="button" class="btn btn-warning pull-right" ><i class="fa fa-times"></i> Recusar</button>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Recurso</h3>
                </div>
                <div class="box-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?
                    </p>
                </div>
            </div>

            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title click" data-widget="collapse">Questão</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10%">Título:</th>
                            <td>Título da questão aqui</td>
                        </tr>
                        <tr>
                            <th>Tipo:</th>
                            <td>Subjetiva</td>
                        </tr>
                        <tr>
                            <th>Dificuldade:</th>
                            <td>Alta</td>
                        </tr>
                        <tr>
                            <th>Disciplina:</th>
                            <td>Segurança da Informação</td>
                        </tr>
                        <tr>
                            <th>Autor:</th>
                            <td>Cícero</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <img class="center-block img-responsive" src="/img/questao.jpg" alt="Independência">
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lorem et lectus congue, vitae pulvinar odio porta. Cras fringilla tortor id sollicitudin dictum. Sed consequat ligula est, in interdum urna facilisis at. Praesent tempus mi non porta molestie. Pellentesque bibendum libero quis odio euismod, imperdiet tempus magna bibendum. Mauris commodo suscipit consectetur. Donec eget ultrices erat, quis tristique urna. Duis a libero quam. Quisque eu enim dolor. Donec hendrerit in turpis in mollis. Vestibulum ante quam, rhoncus at urna sed, efficitur elementum erat?<br><br>

                        A) Lorem ipsum dolor sit amet.<br>
                        B) Consectetur adipiscing elit.<br>
                        C) Sed consequat ligula est.<br>
                        D) Duis a libero quam.<br>
                        E) Donec hendrerit in turpis in mollis.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL: Confirmação / Aviso -->
<div class="modal fade" id="aviso" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir Recurso</h4>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir o recurso "{{ recurso.titulo }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-click="excluir(recurso)" type="button" class="btn btn-danger" data-dismiss="modal">Excluir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->